.button {
    width: 38px;
    height: 50px;
    font-weight: bold;
    font-size: 1.2em;
    color:black;
    border: 1px solid black;
    border-radius: 8%;
}
.button:hover {
    transform: scale(1.05);
}
.isactive {
    width: 38px;
    height: 50px;
    background-color: green;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 8%;
}
@media(max-width: 768px) {
    .button {
        width: 28px;
        height: 35px;
        
        font-size: 1em;
        
    }
    .button:hover {
        transform: scale(1.05);
    }
    .isactive {
        width: 28px;
        height: 35px;
        
        font-size: 1em;
        
    }
}