.container {
    display: flex;
    margin-top: 4.2em;
    padding-top: 2em;
    gap:8px;
    justify-content: center;
    margin-bottom: -7em;
}
.button {
    font-size: 30px;
    background-color: #474747;
    border: 1px solid black;
    border-radius: 8%;
}
.button:hover {
    transform: scale(1.05);
}
.button[disabled] {
    background-color: #918c8c;
    cursor: no-drop;
    border: 1px solid black;
    border-radius: 8%;
}
.p {
    font-weight: bold;
    font-size: 1.2em;
}
input {
    width: 38px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
@media(max-width: 768px) {
    .container {
        margin-top: 8em;
    }
    .button {
        font-size: 1.3em;
        
        border-radius: 8%;
    }
    .button:hover {
        transform: scale(1.05);
}
.container {
    
    margin-top: 4.2em;
    padding-top: 2em;
    
    margin-bottom: -7em;
}
}