.background {    
    min-height: 100vh;
    position: absolute;
    background-image: url(./img/video-game-6578107_1280.jpg);
    background-size:cover;
    top:0;
    background-repeat: space;
    height: 1800vh;
    width: 100%;
    z-index: -3;
    background-attachment: fixed;

}
@media (max-width: 600px){
    .background {
        height: 1300%;  
    }
}
@media (min-hight: 100vh){
    .background {
        height: 200%;
    }
}